.block.footer .default-content-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
  align-items: start;
}


.block.footer .default-content-wrapper p:first-child {
  grid-column: 1;
  grid-row: 1 / span 10; /* allow logo to span vertical space */
}

.block.footer a {
  color: #DDE675;
}

.block.footer .default-content-wrapper p:nth-child(2) {
  grid-column: 2;
}


.block.footer .default-content-wrapper p:nth-child(n+3) {
  grid-column: 2; /* ONLY column, not row */
}

.block.footer .default-content-wrapper p:nth-child(2) {
  white-space: nowrap;
}
