
/* footer css changes */

.block.footer {
  background-color: #145c4c;
  color: #FEFFF6;
  padding: 1rem;
  text-align: center;
}
.block.footer.a{
  color:#DDE675;
}

.footer-container {
  display: flex;
  flex-direction: row-reverse; /* This moves logo to right */
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.footer-logo {
  width: 150px; /* Adjust as needed */
  height: auto;
}